*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F15724;
    overflow: scroll;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.infoForm{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 76vh;
}

.container{
    display: flex;
    flex-direction: column;

    width: 100%;
}

input{
    background-color: beige;
    border: none;
    border-radius: 3px;
    height: 35px;
}

label{
    color: #262223;
    font-size: large;
    margin: 5px 0px;
}

legend{
    color: #262223;
    font-size: large;
}

select{
    color: beige;
    font-size: large;
}


.fields{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.radiolabel{
    margin: 5px;
    font-size: large;
}

#S,#L,#M,#XL,#XXL {
    margin-top: 5px;
}

button{
    background-color: #262223;
    padding: 15px;
    font-size: large;
    border: none;
    border-radius: 5px;
    color: beige;
    cursor: pointer;
}


img{
    width: 100%;
    height: 20vh;
    object-fit: contain;
}


.contacts {
    width: 250px;
    height: auto;
    margin: auto;
    padding: 15px;

    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.number1,.number2{
    background-color: beige;

    margin: 5px;
}

.number{
    background-color: beige;
    margin: 5px;
}

.bkash{
    background-color: #D92579;
    padding: 3px;
    border-radius: 5px;
    font-size: large;
}

.rocket{
    background-color: rgb(163, 34, 163);
    padding: 3px;
    border-radius: 5px;
    font-size: large;

}

.inst{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: #262223;

}

.trans{
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tri{
    width: 250px;
}


.but{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.payment-methods{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 15px auto;
    border: none;
}

.p-legend{
    color: #262223;
    font-size: large;
    text-align: center;
}


.end{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}